body{
    background-color: rgba(90, 143, 90, 0.625);
    border: 5px solid green;
    padding: 10px;
}

.font-green{
    color: green;
}

img{
    border: 3px solid black;
    padding: 5px;
}

.image:hover {
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.377);
    -webkit-transform: scale(1.03, 1.03);
    transform: scale(1.03, 1.03);
    }
    .lift-animation:hover::after {
    opacity: 1;
}

.textarea-color{
    background-color: azure;
}

